@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:ital,wght@0,200;0,400;0,600;0,700;0,800;1,500;1,600;1,800&family=Poppins:ital,wght@0,400;0,600;1,500&display=swap');
.color{
    width: 100%;
    padding-top: 5rem;
    display: flex;
    height:100vh;
    flex-direction: column;

    align-items: center;
  
    text-align: center;

}
.head{
    font-size: 30px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    color: #202142;
}
.color button{
    display: block;
    margin-top: 3rem;
    padding: 1rem 5rem;
    background-color: rgb(137, 41, 233);
    color: white;
    border: none;
    outline: none;
    border-radius: 4px;
    font-size: 17px;
    text-transform: capitalize;
    font-family: 'Poppins', sans-serif;
}
.color-card{
    width: 100%;
    display: flex;
    gap: 1rem;
    justify-content: center;
    /* align-items: center; */
    flex-wrap: wrap;
  
}

.color-item{
    width: 170px;
    height: 300px;
    box-shadow: 0 0.5rem 0.75rem -0.25rem rgba(19, 21, 22, 0.432);
    padding: .7rem ;
    margin-top: 2rem;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.342);
}
.color-item:hover {
    transform: translateY(-10px); 
    transition: transform 0.3s ease; 
}
.inner{
  height: 250px;
  border-radius: 5px;
  margin-bottom: .5rem;
}
span{
    margin-top: 1rem;
    font-size: 17px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
}
.noti{
    padding: .7rem  1rem;
    background-color: #152238;
    position: absolute;
    top: 2%;
    right: 35%;
    left: 35%;
    color: white;
    border-radius: 30px;
    font-size: 16px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
.palette{
    padding: .7rem  1rem;
    background-color: #152238;
    position: absolute;
    top: 2%;
    right: 35%;
    left: 35%;
    color: white;
    border-radius: 30px;
    font-size: 16px;
    text-align: center;
}
.cpbtn{
    padding: .8rem 2rem;
    background-color:rgba(255, 255, 255, 0.507);
    border-radius: 40px;
    color: black;
    font-size: 16px;
    margin-top: 2rem;
    font-family: 'Poppins', sans-serif;
}
h3{
    cursor: pointer;
    text-align: center;
}

@media(max-width:1130px){
    .noti{
        padding: .7rem  1rem;

        position: absolute;
        top: 2%;
        right: 30%;
        left: 30%;
      
    }
}
@media(max-width:790px){
    .noti{
        padding: .7rem  1rem;
      
        position: absolute;
        top: 2%;
        right: 20%;
        left: 20%;
    }
    
}
@media(max-width:590px){
    .noti{
        padding: .7rem  1rem;
   
        position: absolute;
        top: 2%;
        right: 10%;
        left: 10%;
      
    }
   
}
@media(max-width:400px){
    .noti{
        padding: .5rem  1rem;
      
        position: absolute;
        top: 2%;
        right: 5%;
        left: 5%;
       
    }
    .cpbtn{
        padding: .5rem 1rem;
    
    }
    .color{
        height: 280vh;
     
    }
}
@media(max-width:350px){
    .noti{
        padding: .5rem  .5rem;

        position: absolute;
        top: 2%;
        right: 2%;
        left: 2%;
     
    }
    .cpbtn{
        padding: .5rem 1rem;
      
    }
}
@media(max-width:310px){
    .noti{
        padding: .5rem  .5rem;
       
        position: absolute;
        top: 2%;
        right: 1%;
        left: 1%;
      
    }
    .cpbtn{
        padding: .5rem 1rem;
       
    }
}